<nav class="navbar navbar-static-top">
  <div class="top-bar">
    <div class="pull-left logo-box">
      <img class="logo" src="assets/images/logo.png"></div>
    <div class="app-name pull-left">Application name</div>
    <div class="logout-container pull-right border-left">
      <div class="user-name" ng-click="$ctrl.switchUserSetting()">
        {{$ctrl.currentUser.firstName | uppercase | limitTo:1}}{{$ctrl.currentUser.lastName | uppercase | limitTo:1}}
      </div>
    </div>
    <div class="pull-right border-left topbar-padding">
      <i class="appkiticon icon-outline-notification"></i>
    </div>
    <div class="pull-right border-left">
      <form>
        <div class="dropdown dropdown-sample">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Language</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a>English</a></li>
            <li><a>Chinese</a></li>
            <li><a>Indian</a></li>
          </ul>
          <i class="appkiticon icon-fill-down-chevron" data-toggle="dropdown"></i>
        </div>
      </form>
    </div>
    <div class="userSettingList" ng-if="$ctrl.showUserSetting">
      <ul>
        <li>
          <div class="userDetails">
            <div class="user-image">
              {{$ctrl.currentUser.firstName | uppercase | limitTo:1}}{{$ctrl.currentUser.lastName | uppercase | limitTo:1}}
            </div>
            <div class="user-name">
              <p class="name">{{$ctrl.currentUser.firstName}} {{$ctrl.currentUser.lastName}}</p>
            </div>
          </div>
        </li>
        <li ng-click="$ctrl.logout()">
          <i class="appkiticon icon-fill-logout logout-svg"></i>Logout
        </li>
      </ul>
    </div>
  </div>
</nav>