<div class="forgot-password-container">
  <form name="forgotPasswordForm" role="form" class="login-form">
    <ul class="title-section">
      <li class="pwc-logo"><img src="assets/images/logo.png"></li>
      <li class="app-title">Application name</li>
    </ul>
    <div class="title-bottom-line"></div>
    <div class="login-to-your-acount">Password recovery</div>
    <div class="recovery-notes">Enter the email address for your account and we'll send you instructions to reset your password.</div>
    <fieldset class="fieldset">
      <label class="form-label">Your email</label>
      <input type="text" class="text-input" name="email" autofocus="autofocus"
             ng-class="{'error-red-border': forgotPasswordForm.$submitted && (!$ctrl.email || $ctrl.email === '')}"
             ng-model="$ctrl.email" ng-change="$ctrl.setForgotSubmitFalse(forgotPasswordForm)">
      <span class="form-feedback" ng-if="forgotPasswordForm.$submitted && (!$ctrl.email || $ctrl.email === '')">Please enter email address!</span>
      <span class="form-feedback" ng-if="forgotPasswordForm.$submitted && ($ctrl.email || $ctrl.email !== '') && $ctrl.resetFailed">{{$ctrl.resetErrorMessage}}</span>
    </fieldset>
    <button type="submit" class="button button-wide reset-pwd-btn" ng-click="$ctrl.reset(forgotPasswordForm)">Reset password</button>
    <span class="cursor-pointer forgot-password" ui-sref="login">Cancel</span>
  </form>
</div>