/*----------------------------------------------------*
**fonts******************************************begin
*----------------------------------------------------*/

%font-arial {
  font-family: Arial;
}

%font-georgia {
  font-family: Georgia;
}

$font-italic: italic;

/*----------------------------------------------------*
**fonts******************************************end
*----------------------------------------------------*/
$nav-background: #31393F;
$nav-background-highlight: #282F34;
$background-gray: #F2F2F2;
$text-gray-lightest: #999999;
$text-gray-lighter: #666666;
$text-gray: #333333;
$text-red: #E0301E;
$text-orange: #D04A02;
$text-green: #3C763D;
$text-rose: #D93954;
$text-white: #FFFFFF;
$fill-black: #000000;
// $fill-orange: #DC6900;
$fill-error: #E0301E;
$fill-white: #FFFFFF;
$fill-facebook: #3B5998;
$fill-twitter: #55ACEE;
$fill-linkedin: #0077B5;
$fill-youtube: #CD201F;
$fill-google: #DD4B39;
$fill-lightBrown:#968C6D;
$fill-digitalGray: #736B53;
$fill-darkslate: #282F34;
$fill-success: #006652;
$fill-eae: #EAEAEA;
$fill-aaa:#AAAAAA;
$fill-ff5: #FF5A5F;
$fill-ae3: #AE393C;
$fill-e1e: #E1E1E1;
$fill-f9f: #F9F9F9;
$fill-ece: #ECEDF0;

$fill-warning: #FFB600;
$fill-e5e: #E5EFED;
$fill-ffe: #FFE7AD;

$fill-slate: #31393F;
$fill-black: #000000;
$fill-white: #FFFFFF;

$fill-yellow: #FFB600;
$fill-yellow-70: #FFCC4C;
$fill-yellow-60: #FFD366;
$fill-yellow-40: #FFE299;
$fill-yellow-20: #FFF0CC;
$fill-yellow-10: #FFF8E5;

$fill-dorange: #D04A02;
$fill-dorange-70: #DE804D;
$fill-dorange-60: #E39267;
$fill-dorange-40: #ECB79A;
$fill-dorange-30: #F0C9BA;
$fill-dorange-20: #F6DBCC;
$fill-dorange-10: #FAEDE5;

$fill-red: #E0301E;
$fill-red-70: #E96E61;
$fill-red-60: #EC8378;
$fill-red-40: #F3ACA5;
$fill-red-20: #F9D6D2;
$fill-red-10: #FCEAE8;

$fill-rose: #D93954;
$fill-rose-70: #E47487;
$fill-rose-60: #E88898;
$fill-rose-40: #F0B0BB;
$fill-rose-20: #F7D7DD;
$fill-rose-10: #FBEBEE;

$fill-burgundy: #A32020;
$fill-burgundy-70: #BE6262;
$fill-burgundy-60: #C87979;
$fill-burgundy-40: #DAA6A6;
$fill-burgundy-20: #EDD2D2;
$fill-burgundy-10: #F6E8E8;

$fill-maroon: #602320;
$fill-maroon-70: #8F6562;
$fill-maroon-60: #A07B79;
$fill-maroon-40: #BFA7A6;
$fill-maroon-20: #DFD3D2;
$fill-maroon-10: #EFE9E8;

$fill-grey: #736B53;
$fill-grey-70: #9D9786;
$fill-grey-60: #ABA698;
$fill-grey-40: #C7C4BA;
$fill-grey-20: #E3E1DD;
$fill-grey-10: #F1F0ED;

$background-gray: #f2f2f2;
$shadow-gray: #d8d8d8;
$gray: #333333;
$light-gray: #e7e7e8;
$gray-lighter: #666666;
$gray-lightest: #999999;
$background-striped: #f9f9f9;

$opacity-100: 1;
$opacity-70: 0.7;
$opacity-60: 0.6;
$opacity-40: 0.4;
$opacity-20: 0.2;
$opacity-10: 0.1;

$border-lightgray:rgba(151, 151, 151, 0.3);
$text-1e2: #1e262a;
$text-3f3: #3f3f40;
$text-beb: #bebebe;
$text-323: #323a45;
$text-a3a: #a3a3a3;
$text-879: #87919f;
$text-db5: #db536a;
$text-grey: rgba(153, 153, 153, 0.7);
$svg-shadow-gray:#D8D8D8;
$background-lightgray:#e0e0e0;
$navbar-search:#f5f5f5;

//Charts Color
$sky-blue:#b2ebf2;
$leaf-green: #c5e1a5;
$light-maroon: #ef9a9a;

$border-gray: #d8d8d8;
$background-gray-f5: #f5f5f5;


// height rem
$nav-height: 5rem;
$top-bar-height: 3.75rem;
$menu-height: 2.5rem;
$foot-height: 2.5rem;


$detail-holder-left: 27.5rem;
$screen-min-width: 76.8rem;
$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;



$base-font-size: 16px !default;
$pixel-1: 0.0625rem;
$pixel-2: 0.125rem;
$pixel-3: 0.1875rem;
$pixel-4: 0.25rem;
$pixel-5: 0.3125rem;
$pixel-6: 0.375rem;
$pixel-7: 0.4375rem;
$pixel-8: 0.5rem;
$pixel-9: 0.5625rem;
$pixel-10: 0.625rem;
$pixel-11: 0.6875rem;
$pixel-12: 0.75rem;
$pixel-13: 0.8125rem;
$pixel-14: 0.875rem;
$pixel-15: 0.9375rem;
$pixel-16: 1rem;
$pixel-17: 1.0625rem;
$pixel-18: 1.125rem;
$pixel-19: 1.1875rem;
$pixel-20: 1.25rem;
$pixel-21: 1.3125rem;
$pixel-22: 1.375rem;
$pixel-23: 1.4375rem;
$pixel-24: 1.5rem;
$pixel-25: 1.563rem;
$pixel-28: 1.75rem;
$pixel-30: 1.875rem;
$pixel-31: 1.9375rem;
$pixel-32: 2rem;
$pixel-33: 2.0625rem;
$pixel-34: 2.125rem;
$pixel-35: 2.1875rem;
$pixel-36: 2.25rem;
$pixel-40: 2.5rem;
$pixel-41: 2.5625rem;
$pixel-42: 2.625rem;
$pixel-45: 2.8125rem;
$pixel-46: 2.875rem;
$pixel-50: 3.125rem;
$pixel-54: 3.375rem;
$pixel-60: 3.75rem;
$pixel-64: 4rem;
$pixel-66: 4.125rem;
$pixel-82: 5.125rem;
$pixel-96: 6rem;
$pixel-100: 6.25rem;

$regular: 400 !default;
$bold: 600 !default;


//default color
$default-color: $fill-dorange;
$default-highlight-background: #FFE8DC;
